<div class='container px-4 m-auto'>
  <img src='/images/login.svg' alt='login' class='login-image' />
  <header class='mt-4'>
    <h1 class='text-6xl font-bold text-center textlogin'> Welcome</h1>

  </header>
  <div class='mt-4'>
    <form class='flex flex-col gap-y-4 mt-4' method='post' action='/auth/login'>
      <input class='p-4 rounded-xl border border-solid border-gray-400 bs' type='text' name='email' id='email'
        placeholder='email' />
      <input class='p-4 rounded-xl border border-solid border-gray-400 bs' type='password' name='password' id='password'
        placeholder='password' />
      {{#if errorMessage}}
      <span class='rounded-xl border border-solid border-red-500 p-4 bg-red-200 text-red-500'>
        {{errorMessage}}
      </span>
      {{/if}}
      <a href='' class='text-xs font-medium text-center'>forgot password?</a>
      <button type='submit' class='btn loginbtn'>Log in</button>
      <a href='/auth/sign-up' class='text-xs font-medium text-center signuplink'>Sign up</a>
    </form>
  </div>
</div>