<div class='container px-4 m-auto theme'>
  <header class='mt-4'>
    <h1 class='text-6xl font-bold text-center signuph1'>Sign up</h1>
  </header>
  <div class='mt-4'>
    <img class='dice' src="/images/d20.png" alt="d20">
    <form class='flex flex-col gap-y-4 mt-4' method='post' action='/auth/sign-up'>
      <input class='p-4 rounded-xl border border-solid border-gray-200 field' type='text' name='email' id='email'
        placeholder='email' />
      <input class='p-4 rounded-xl border border-solid border-gray-200 field' type='password' name='password'
        id='password' placeholder='password' />
      <input class='p-4 rounded-xl border border-solid border-gray-200 field' type='password' name='repeatedPassword'
        id='repeatedPassword' placeholder='repeat password' />
      {{#if errorMessage}}
      <span class='rounded-xl border border-solid border-red-500 p-4 bg-red-200 text-red-500'>
        {{errorMessage}}
      </span>
      {{/if}}
      <button class='btn signupbtn' href='/'>Sign up</button>
      <a href='/auth/login' class='text-xs font-medium text-center loginlink'>Log in</a>
    </form>
  </div>
</div>