<article>
  <div>

  </div>
  <div>
    <div>
      <p>{{this.playingTime}}</p>
      <a href='/game/{{this._id}}'>
        <h2>{{this.name}}</h2>
      </a>
      <p>{{this.description}}</p>
    </div>
  </div>
</article>