<h1>Welcome {{user.email}}!</h1>
<h2>Here is a list of your favorite games</h2>

<ul>
    {{#each favorites}}
    <li>{{game.name}}</li>
    {{/each}}

</ul>

<header class='flex items-center w-full mt-2 mb-4'>
    <a href='/'>
        <div class='border border-gray-400 rounded-full p-2 border-solid'>
            <svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'>
                <path fill-rule='evenodd'
                    d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z'
                    clip-rule='evenodd'></path>
            </svg>
        </div>
    </a>
</header>