<h1>Welcome {{user.email}}!</h1>
<h2>Here is a list of your favorite games</h2>
<ul>
    {{#each favorites}}
    <li>{{game.name}}</li>
    {{/each}}
</ul>

<h2>Your own games</h2>
<ul>
    {{#each createds}}
    <li>{{game.name}}</li>
    {{/each}}
</ul>