.titledetail {
  text-align: center;
  margin: 2rem 0 1rem 0;
  font-weight: 900;
}

.descriptiondetail {
  letter-spacing: 0.2rem;
  text-align: justify;
}

.imgdetail {
  margin-top: 2rem;
}

.otherdetail {
  text-align: center;
}
