.headbox {
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.findboard {
  text-align: center;
  border: 5px solid black;
  border-radius: 20px;
  font-size: smaller;
  padding: 0.5rem;
  font-weight: 600;
  color: white;
  background-color: black;
}

.imgProfile {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 20px;
  border: black solid 1.5px;
}

.homeh1 {
  font-size: medium;
  text-align: center;
  margin-left: -0.6rem;
}
.centerbu {
  text-align: center;
}

.searchbar {
  height: 3rem;
  border-radius: 20px;
  border: black solid 3px;
  text-align: center;
  color: black;
}

.mb-5 {
  margin-top: -1rem;
}

.navbarhome {
  padding: 0.5rem;
  height: 4rem;
  color: white;
  background-color: black;
  font-weight: 500;
}
