.login-image {
  padding: 1rem;
  margin-top: -2rem;
}

.textlogin {
  margin-top: -4rem;
  margin-bottom: 2rem;
  font-weight: 700;
  letter-spacing: 0.4rem;
  border: solid black 10px;
  border-radius: 10%;
  font-size: xx-large;
  background-color: black;;
  color: white;
}

.bs {
  border: black 5px solid;
  text-align: center;
  padding: 0.7rem;
}

.header {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4rem;
  line-height: 105%;
}
.form-section {
  display: flex;
  flex-direction: column;1.5rem
}

.signuplink{
  margin-top: 0.5rem;
  font-weight: 800;
  font-size: medium;
  letter-spacing: 0.1rem;
}

.loginbtn{
  margin-top: 1.5rem;
}