.login-image {
  padding: 1rem;
}

.textlogin {
  margin-top: -3.5rem;
  margin-bottom: 1.5rem;
}

.header {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4rem;
  line-height: 105%;
}

.subtitle {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.312rem;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form-section {
  display: flex;
  flex-direction: column;1.5rem
}
