<h2>List of Board games</h2>

<ul>
  {{#each game}}
    <li>{{name}}</li> <a href="/games/{{_id}}">Game details</a>
    <li>{{_id}}</li>
    <li>{{image}}</li>
    <br>
  {{/each}}
</ul>

<a href="/">Go back to homepage</a>