<div class="container px-4 m-auto">

  <div class="mt-4">
    <h1 class="text-lg font-bold addtitle">Add game</h1>
    <div class="subadd">
      <h3>I wanted to thank you for taking time from your busy schedule to help our project to grow up step by step.
        Be as accurate as possible while adding a new game. Thanks</h3>
    </div>
    <form class="flex flex-col gap-y-4 mt-4 formadd" method="POST" action="/game/add">
      <label for="title">Name</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="name" id="name"
        placeholder="Name of the boardgame" />
      <label for="year">Year</label>
      <textarea class="p-4 rounded-xl border border-solid border-gray-400 inputadd" name="year" id="year"
        placeholder="Which year was it released?"></textarea>
      <label for="rating">Rating</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="rating" id="rating"
        placeholder="Type any rating from 0 min to 5 max" />
      <label for="description">Description</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="description"
        id="description" placeholder="Write a short description of the game" />
      <label for="image">Image path</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="image" id="image"
        placeholder="Paste the image path" />

      <label for="playingTime"> Playing Time</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="playingTime"
        id="playingTime" placeholder="How many minutes will a game last?" />

      <label for="numOfPlayers">Numbers of players</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="numOfPlayers"
        id="numOfPlayers" placeholder="How many players can play the game?" />

      <label for="difficulty">Difficulty</label>
      <input class="p-4 rounded-xl border border-solid border-gray-400 inputadd" type="text" name="difficulty"
        id="difficulty" placeholder="Pick one of these options: baby/easy/medium/hard/extrachallenging" />
      <button type="submit" class="btn subaddbtn">Submit</button>
    </form>
  </div>
</div>